aiofiles
Flask==2.2.2
gunicorn==20.1.0
shortuuid
httpcore[http2]
aiohttp
async-timeout
python-Levenshtein
openai
rich
asyncio
base58
bcrypt
beautifulsoup4
bing-image-downloader
bleach
blinker
Brotli
bs4
cryptography
decorator
deprecation
dnspython
emoji
emojis
envparse
eyed3
ez-setup
fake-useragent
Faker
feedparser
ffmpeg-python==0.2.0
filetype
fonttools
frozenlist
future
futures
fuzzywuzzy
geniuses
geographiclib
geopy
gitdb
GitPython
glitch-this
google
google-trans-new
googletrans
goslate
gpytranslate
gTTS
h11
h2
heroku3
hpack
hstspreload
html-telegraph-poster
html2text
#httpcore[http2]
httplib2
httpx
humanize
hyperframe
hyperlink
idna
importlib-metadata
incremental
instantmusic
jeepney
jikanpy
jmespath
joblib
lxml
markdown-it-py
markdown2
MarkupSafe
mdurl
more-itertools
motor
multicolorcaptcha
multidict
nekos.py
nltk
numpy
oauthlib
one-piece-wanted-poster
opencv-python-headless
parsel
Pillow
pretty-errors
psutil
psycopg2-binary
pykeyboard
PyLyrics
pymongo
pyOpenSSL
pyparsing
pyrate-limiter
pyrogram
pySmartDL
PySocks
python-arq
python-dotenv
pytube
pytz
PyYAML
rapidfuzz
regex
requests
requests-toolbelt
simplejson
speedtest
speedtest-cli
telegraph
TgCrypto
tqdm
tracemoepy
tswift
typing_extensions
Unidecode
urllib3
uvloop
wget
wikipedia
youtube-dl
